USE [master]
GO
/****** Object:  Database [DB_ProgramacionAvanzadaWeb]    Script Date: 18/7/2025 17:24:22 ******/
CREATE DATABASE [DB_ProgramacionAvanzadaWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ProgramacionAvanzadaWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_ProgramacionAvanzadaWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ProgramacionAvanzadaWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_ProgramacionAvanzadaWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ProgramacionAvanzadaWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ProgramacionAvanzadaWeb]
GO
/****** Object:  Table [dbo].[Tabla_Cita]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_Cita](
	[Consecutivo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[IdHorario] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla_Error]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_Error](
	[IdError] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[DescripcionError] [varchar](max) NOT NULL,
	[Origen] [varchar](255) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
 CONSTRAINT [PK_TError] PRIMARY KEY CLUSTERED 
(
	[IdError] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla_Horario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_Horario](
	[IdHorario] [bigint] IDENTITY(1,1) NOT NULL,
	[HoraFecha] [datetime] NOT NULL,
	[Observacion] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Tabla_Horario] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla_Rol]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_Rol](
	[Id_Rol] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tabla_Rol] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla_Usuario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_Usuario](
	[IdUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[Contrasenna] [varchar](255) NULL,
	[Estado] [bit] NOT NULL,
	[TieneCita] [bit] NOT NULL,
	[IdRol] [bigint] NULL,
 CONSTRAINT [PK_Tabla_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tabla_Cita] ON 

INSERT [dbo].[Tabla_Cita] ([Consecutivo], [IdUsuario], [Descripcion], [IdHorario]) VALUES (1, 2, N'Tengo dolor de muela', 2)
INSERT [dbo].[Tabla_Cita] ([Consecutivo], [IdUsuario], [Descripcion], [IdHorario]) VALUES (2, 3, N'Quiero una revision dental', 3)
SET IDENTITY_INSERT [dbo].[Tabla_Cita] OFF
GO
SET IDENTITY_INSERT [dbo].[Tabla_Horario] ON 

INSERT [dbo].[Tabla_Horario] ([IdHorario], [HoraFecha], [Observacion], [Estado]) VALUES (1, CAST(N'2025-09-10T17:20:00.000' AS DateTime), N'Estar 15 minutos antes', 1)
INSERT [dbo].[Tabla_Horario] ([IdHorario], [HoraFecha], [Observacion], [Estado]) VALUES (2, CAST(N'2025-09-05T11:25:00.000' AS DateTime), N'Estar 15 minutos antes', 0)
INSERT [dbo].[Tabla_Horario] ([IdHorario], [HoraFecha], [Observacion], [Estado]) VALUES (3, CAST(N'2025-08-14T07:10:00.000' AS DateTime), N'Estar 15 minutos antes', 0)
SET IDENTITY_INSERT [dbo].[Tabla_Horario] OFF
GO
SET IDENTITY_INSERT [dbo].[Tabla_Rol] ON 

INSERT [dbo].[Tabla_Rol] ([Id_Rol], [Descripcion]) VALUES (1, N'Doctor')
INSERT [dbo].[Tabla_Rol] ([Id_Rol], [Descripcion]) VALUES (2, N'Paciente')
SET IDENTITY_INSERT [dbo].[Tabla_Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Tabla_Usuario] ON 

INSERT [dbo].[Tabla_Usuario] ([IdUsuario], [Nombre], [Correo], [Identificacion], [Contrasenna], [Estado], [TieneCita], [IdRol]) VALUES (1, N'JOSE LUIS JIMENEZ BADILLA', N'josejb425@gmail.com', N'305480726', N'FA0xri/7my4EDgNw1eEJ7A==', 1, 0, 1)
INSERT [dbo].[Tabla_Usuario] ([IdUsuario], [Nombre], [Correo], [Identificacion], [Contrasenna], [Estado], [TieneCita], [IdRol]) VALUES (2, N'LOPEZ CORTES YAFET ALEXANDER', N'alex@gmail.com', N'305030613', N'FA0xri/7my4EDgNw1eEJ7A==', 1, 1, 2)
INSERT [dbo].[Tabla_Usuario] ([IdUsuario], [Nombre], [Correo], [Identificacion], [Contrasenna], [Estado], [TieneCita], [IdRol]) VALUES (3, N'SALGUERO ALVARADO JOSEPH FABIAN', N'joseph@gmail.com', N'305440776', N'FA0xri/7my4EDgNw1eEJ7A==', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Tabla_Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_Correo]    Script Date: 18/7/2025 17:24:22 ******/
ALTER TABLE [dbo].[Tabla_Usuario] ADD  CONSTRAINT [uk_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_NombreUsuario]    Script Date: 18/7/2025 17:24:22 ******/
ALTER TABLE [dbo].[Tabla_Usuario] ADD  CONSTRAINT [uk_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabla_Usuario] ADD  DEFAULT ((0)) FOR [TieneCita]
GO
ALTER TABLE [dbo].[Tabla_Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Horario] FOREIGN KEY([IdHorario])
REFERENCES [dbo].[Tabla_Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Tabla_Cita] CHECK CONSTRAINT [FK_Cita_Horario]
GO
ALTER TABLE [dbo].[Tabla_Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Tabla_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Tabla_Cita] CHECK CONSTRAINT [FK_Cita_Usuario]
GO
ALTER TABLE [dbo].[Tabla_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Tabla_Rol] ([Id_Rol])
GO
ALTER TABLE [dbo].[Tabla_Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarContrasenna]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarContrasenna]
	@IdUsuario bigint,
	@Contrasenna varchar(255)
AS
BEGIN
	
	UPDATE	Tabla_Usuario
	SET		Contrasenna = @Contrasenna
	WHERE	IdUsuario = @IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ActualizarUsuario]
	@Identificacion varchar(20),
	@Nombre varchar(255),
	@Correo varchar(100),
	@IdUsuario bigint
AS
BEGIN
	
	IF NOT EXISTS(SELECT 1 FROM dbo.Tabla_Usuario
				  WHERE Identificacion = @Identificacion
					AND Correo = @Correo
					AND IdUsuario != @IdUsuario)
	BEGIN

		UPDATE	Tabla_Usuario
		SET		Identificacion = @Identificacion,
				Nombre = @Nombre,
				Correo =  @Correo
		WHERE	IdUsuario = @IdUsuario

	END

END
GO
/****** Object:  StoredProcedure [dbo].[AtenderCita]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AtenderCita]
    @Consecutivo INT
AS
BEGIN

	DECLARE @IdUsuario BIGINT;

    SELECT @IdUsuario = IdUsuario
    FROM Tabla_Cita
    WHERE Consecutivo = @Consecutivo 



    DELETE FROM Tabla_Cita WHERE Consecutivo = @Consecutivo

	UPDATE Tabla_Usuario
    SET TieneCita = 0
    WHERE IdUsuario = @IdUsuario



END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ConsultarUsuario]
	@IdUsuario BIGINT
AS
BEGIN

	SELECT	IdUsuario,
			Nombre,
			Correo,
			Identificacion,
			Estado,
			U.IdRol,
			R.Descripcion
	  FROM	dbo.Tabla_Usuario U
	  INNER JOIN dbo.Tabla_Rol R ON U.IdRol = R.Id_Rol
	WHERE	IdUsuario = @IdUsuario
	
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCita]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCita]
    @Consecutivo INT,
	@IdUsuario bigint
AS
BEGIN

	

    DECLARE @IdHorario BIGINT;

    SELECT @IdHorario = IdHorario
    FROM Tabla_Cita
    WHERE Consecutivo = @Consecutivo AND IdUsuario = @IdUsuario;


    DELETE FROM Tabla_Cita WHERE Consecutivo = @Consecutivo AND IdUsuario = @IdUsuario

	UPDATE Tabla_Usuario
    SET TieneCita = 0
    WHERE IdUsuario = @IdUsuario

	UPDATE Tabla_Horario
    SET Estado = 1
    WHERE IdHorario = @IdHorario;

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarHorario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[EliminarHorario]
    @IdHorario bigint
	
AS
BEGIN

	




    DELETE FROM Tabla_Horario WHERE IdHorario = @IdHorario 



END
GO
/****** Object:  StoredProcedure [dbo].[IniciarSesion]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IniciarSesion]
@Correo varchar(100),
@Contrasenna varchar(255)

AS
BEGIN

	SELECT IdUsuario,Nombre,Correo,Identificacion,Contrasenna,Estado,TieneCita,U.IdRol,R.Descripcion
	  FROM [dbo].[Tabla_Usuario] U
	   INNER JOIN dbo.Tabla_Rol R ON U.IdRol = R.Id_Rol
	  WHERE Correo = @Correo 
	  AND Contrasenna = @Contrasenna
	  AND Estado=1

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCitasPorUsuario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCitasPorUsuario]
    @IdUsuario BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.Consecutivo,
        c.Descripcion,
        h.HoraFecha  
    FROM 
        Tabla_Cita c
        INNER JOIN Tabla_Horario h ON c.IdHorario = h.IdHorario
    WHERE 
        c.IdUsuario = @IdUsuario
    ORDER BY 
        h.HoraFecha;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasLasCitas]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[ObtenerTodasLasCitas]
AS
BEGIN
    SELECT 
        c.Consecutivo,
        u.Nombre,
        c.Descripcion,
        h.HoraFecha
    FROM Tabla_Cita c
    JOIN Tabla_Usuario u ON c.IdUsuario = u.IdUsuario
    JOIN Tabla_Horario h ON c.IdHorario = h.IdHorario
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarCita]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarCita]
    @IdUsuario bigint,
    @Descripcion varchar(255),
    @IdHorario bigint
AS
BEGIN
    -- Insertar la cita
    INSERT INTO Tabla_Cita (IdUsuario, Descripcion, IdHorario)
    VALUES (@IdUsuario, @Descripcion, @IdHorario)

    -- Marcar el horario como no disponible
    UPDATE Tabla_Horario
    SET Estado = 0
    WHERE IdHorario = @IdHorario

	UPDATE Tabla_Usuario
    SET TieneCita = 1
    WHERE IdUsuario = @IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarError]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarError]
	@DescripcionError varchar(max),
	@Origen varchar(255),
	@IdUsuario bigint
AS
BEGIN

	INSERT INTO dbo.Tabla_Error (FechaHora,DescripcionError,Origen,IdUsuario)
	VALUES (GETDATE(),@DescripcionError,@Origen,@IdUsuario)

END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarHorario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarHorario]
    @HoraFecha datetime,
    @Observacion varchar(50),
	@Estado bit
AS
BEGIN
    INSERT INTO [dbo].[Tabla_Horario](HoraFecha, Observacion, Estado)
    VALUES (@HoraFecha, @Observacion, @Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
	@Identificacion varchar(20),
	@Nombre varchar(255),
	@Correo varchar(100),
	@Contrasenna varchar(255),
	@Estado bit,
	@IdRol bigint

AS
BEGIN
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Tabla_Usuario]
						WHERE Identificacion=@Identificacion OR CORREO = @CORREO)
	BEGIN
	
		INSERT INTO [dbo].[Tabla_Usuario](Nombre,Correo,Identificacion,Contrasenna,Estado, IdRol)
		VALUES(@Nombre,@Correo,@Identificacion,@Contrasenna, @Estado, @IdRol)
	END

END
GO
/****** Object:  StoredProcedure [dbo].[ValidarCorreo]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarCorreo]
	@Correo varchar(100)
AS
BEGIN

	SELECT	IdUsuario,
			Nombre,
			Correo,
			Identificacion,
			Estado
	  FROM	dbo.Tabla_Usuario
	WHERE	Correo = @Correo
		AND Estado = 1
	
END
GO
/****** Object:  StoredProcedure [dbo].[VerHorario]    Script Date: 18/7/2025 17:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerHorario]
AS
BEGIN

	SELECT IdHorario,HoraFecha,Observacion
	  FROM [dbo].[Tabla_Horario]
	  WHERE 
      Estado = 1

END
GO
USE [master]
GO
